@model Brasileirao.web.Models.IEntities.Jogador

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Home/Index.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Jogador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.num_B_I)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.num_B_I)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.morada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.morada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.idade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clube)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clube)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Posicao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Posicao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
